In [25]:
%load_ext autoreload
%autoreload 2

from os import getcwd
from os.path import join, dirname

PATH_REPO = join(dirname(getcwd()), "number2french")
PATH_INPUTS = join(PATH_REPO, 'inputs')
PATH_SRC = join(PATH_REPO, 'src')

import sys
sys.path.append(PATH_SRC)

from utils import load_from_file, save_to_file, load_labeled
from converter import Converter

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

### Inspect outputs

In [45]:
numbers_kata = load_from_file(join(PATH_INPUTS, 'kata.json'))
print(numbers_kata)

[0, 1, 5, 10, 11, 15, 20, 21, 30, 35, 50, 51, 68, 70, 75, 99, 100, 101, 105, 111, 123, 168, 171, 175, 199, 200, 201, 555, 999, 1000, 1001, 1111, 1199, 1234, 1999, 2000, 2001, 2020, 2021, 2345, 9999, 10000, 11111, 12345, 123456, 654321, 999999]

In [46]:
converter = Converter(numbers_kata, lang='french')
print(converter.convert_to_words())

['zéro', 'un', 'cinq', 'dix', 'onze', 'quinze', 'vingt', 'vingt-et-un', 'trente', 'trente-cinq', 'cinquante', 'cinquante-et-un', 'soixante-huit', 'soixante-dix', 'soixante-quinze', 'quatre-vingt-dix-neuf', 'cent', 'cent-un', 'cent-cinq', 'cent-onze', 'cent-vingt-trois', 'cent-soixante-huit', 'cent-soixante-et-onze', 'cent-soixante-quinze', 'cent-quatre-vingt-dix-neuf', 'deux-cents', 'deux-cent-un', 'cinq-cent-cinquante-cinq', 'neuf-cent-quatre-vingt-dix-neuf', 'mille', 'mille-un', 'mille-cent-onze', 'mille-cent-quatre-vingt-dix-neuf', 'mille-deux-cent-trente-quatre', 'mille-neuf-cent-quatre-vingt-dix-neuf', 'deux-milles', 'deux-mille-un', 'deux-mille-vingt', 'deux-mille-vingt-et-un', 'deux-mille-trois-cent-quarante-cinq', 'neuf-mille-neuf-cent-quatre-vingt-dix-neuf', 'dix-milles', 'onze-mille-cent-onze', 'douze-mille-trois-cent-quarante-cinq', 'cent-vingt-trois-mille-quatre-cent-cinquante-six', 'six-cent-cinquante-quatre-mille-trois-cent-vingt-et-un', 'neuf-cent-quatre-vingt-dix-neuf-mille-neuf-cent-quatre-vingt-dix-neuf']

In [47]:
converter = Converter(numbers_kata, lang='belgian')
print(converter.convert_to_words())

['zéro', 'un', 'cinq', 'dix', 'onze', 'quinze', 'vingt', 'vingt-et-un', 'trente', 'trente-cinq', 'cinquante', 'cinquante-et-un', 'soixante-huit', 'septante', 'septante-cinq', 'nonante-neuf', 'cent', 'cent-un', 'cent-cinq', 'cent-onze', 'cent-vingt-trois', 'cent-soixante-huit', 'cent-septante-et-un', 'cent-septante-cinq', 'cent-nonante-neuf', 'deux-cents', 'deux-cent-un', 'cinq-cent-cinquante-cinq', 'neuf-cent-nonante-neuf', 'mille', 'mille-un', 'mille-cent-onze', 'mille-cent-nonante-neuf', 'mille-deux-cent-trente-quatre', 'mille-neuf-cent-nonante-neuf', 'deux-milles', 'deux-mille-un', 'deux-mille-vingt', 'deux-mille-vingt-et-un', 'deux-mille-trois-cent-quarante-cinq', 'neuf-mille-neuf-cent-nonante-neuf', 'dix-milles', 'onze-mille-cent-onze', 'douze-mille-trois-cent-quarante-cinq', 'cent-vingt-trois-mille-quatre-cent-cinquante-six', 'six-cent-cinquante-quatre-mille-trois-cent-vingt-et-un', 'neuf-cent-nonante-neuf-mille-neuf-cent-nonante-neuf']

In [51]:
save_to_file(converter.convert_to_words(), PATH_REPO, f"kata_pred_{converter.lang}.json", converter.lang)

### Error analysis

In [36]:
test = load_labeled(join(PATH_INPUTS, 'extra.json'))
french_converter = Converter(test.loc[:, 'numbers'].values, lang='french')
belgian_converter = Converter(test.loc[:, 'numbers'].values, lang='belgian')

In [37]:
test.loc[:, 'french_pred'] = french_converter.convert_to_words()
test.loc[:, 'belgian_pred'] = belgian_converter.convert_to_words()

#### French Errors

In [38]:
test[['french', 'french_pred']].loc[test.loc[:, 'french'] != test.loc[:, 'french_pred']]

Empty DataFrame
Columns: [french, french_pred]
Index: []

#### Belgian Errors

In [39]:
test[['belgian', 'belgian_pred']].loc[test.loc[:, 'belgian'] != test.loc[:, 'belgian_pred']]

Empty DataFrame
Columns: [belgian, belgian_pred]
Index: []